{
    "openapi": "3.0.0",
    "info": {
        "title": "Badminton Project API",
        "description": "Badminton Project API Documentation",
        "contact": {
            "email": "admin@badminton.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Local Server"
        },
        {
            "url": "https://api.badminton.example.com",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/api/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Đăng ký tài khoản mới",
                "description": "API đăng ký tài khoản người dùng mới",
                "operationId": "register",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "username",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "user_type"
                                ],
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "example": "johndoe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "user_type": {
                                        "type": "string",
                                        "enum": [
                                            "player",
                                            "owner",
                                            "admin"
                                        ],
                                        "example": "player"
                                    },
                                    "phone_number": {
                                        "type": "string",
                                        "example": "0912345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đăng ký thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User registered successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|laravel_sanctum_token"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Dữ liệu không hợp lệ"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Đăng nhập hệ thống",
                "description": "API đăng nhập vào hệ thống",
                "operationId": "login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Đăng nhập thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User logged in successfully"
                                        },
                                        "token": {
                                            "type": "string",
                                            "example": "1|laravel_sanctum_token"
                                        },
                                        "user": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Đăng nhập thất bại",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Invalid credentials"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Đăng xuất khỏi hệ thống",
                "description": "API đăng xuất và hủy token hiện tại",
                "operationId": "logout",
                "responses": {
                    "200": {
                        "description": "Đăng xuất thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User logged out successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Chưa xác thực"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/email/verify/{id}/{hash}": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Xác minh email",
                "description": "API xác minh email của người dùng",
                "operationId": "verifyEmail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của người dùng",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hash",
                        "in": "path",
                        "description": "Hash xác minh",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xác minh thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Email verified successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Xác minh thất bại"
                    }
                }
            }
        },
        "/api/bank-account/{userId}": {
            "get": {
                "tags": [
                    "BankAccount"
                ],
                "summary": "Lấy thông tin ngân hàng của người dùng",
                "description": "Lấy thông tin ngân hàng dựa vào ID người dùng",
                "operationId": "getUserBankAccount",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "ID của người dùng",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lấy thông tin thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Lấy thông tin ngân hàng thành công"
                                        },
                                        "bankAccount": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy người dùng",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Người dùng không tồn tại"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/getBookings": {
            "get": {
                "tags": [
                    "Booking"
                ],
                "summary": "Lấy danh sách sân đã đặt của người dùng",
                "description": "API lấy danh sách sân đã đặt của một user với status linh hoạt",
                "operationId": "getBookings",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID của người dùng",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Trạng thái của booking (awaiting, accepted, declined, cancelled)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "awaiting",
                                    "accepted",
                                    "declined",
                                    "cancelled"
                                ]
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lấy danh sách thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/bookCourt": {
            "post": {
                "tags": [
                    "Booking"
                ],
                "summary": "Đặt sân",
                "description": "API để đặt sân badminton",
                "operationId": "bookCourt",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "venue_id",
                                    "user_id",
                                    "booking_date",
                                    "courts"
                                ],
                                "properties": {
                                    "venue_id": {
                                        "description": "ID của sân",
                                        "type": "integer"
                                    },
                                    "user_id": {
                                        "description": "ID của người đặt",
                                        "type": "integer"
                                    },
                                    "booking_date": {
                                        "description": "Ngày đặt (YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "courts": {
                                        "description": "Danh sách sân cần đặt",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "court_number": {
                                                    "description": "Số sân",
                                                    "type": "integer"
                                                },
                                                "start_time": {
                                                    "description": "Thời gian bắt đầu (HH:MM)",
                                                    "type": "string",
                                                    "format": "time"
                                                },
                                                "end_time": {
                                                    "description": "Thời gian kết thúc (HH:MM)",
                                                    "type": "string",
                                                    "format": "time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "payment_image": {
                                        "description": "Ảnh chuyển khoản dạng base64 (tuỳ chọn)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Đặt sân thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Booking successful"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Dữ liệu không hợp lệ"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/venue-owner": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Lấy thông tin chủ sân từ venue_id",
                "description": "API lấy thông tin chi tiết chủ sân dựa vào ID sân",
                "operationId": "getOwnerInfo",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "venue_id"
                                ],
                                "properties": {
                                    "venue_id": {
                                        "description": "ID của sân",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Lấy thông tin thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Owner info retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy thông tin"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/getUser": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Lấy thông tin người dùng theo user_id",
                "description": "API lấy thông tin chi tiết người dùng dựa vào ID",
                "operationId": "getUser",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID của người dùng",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lấy thông tin thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "User info retrieved successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy người dùng"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/admin/users": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Lấy danh sách tất cả người dùng",
                "description": "API lấy tất cả người dùng kèm thông tin rating",
                "operationId": "getAllUsers",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/users/{id}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Xoá người dùng",
                "description": "API xoá người dùng",
                "operationId": "deleteUser",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của người dùng cần xoá",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Xoá thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Đã xóa người dùng thành công"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy người dùng"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/getAllVenue": {
            "get": {
                "tags": [
                    "Venue"
                ],
                "summary": "Lấy danh sách tất cả sân",
                "description": "API lấy danh sách tất cả sân badminton",
                "operationId": "getVenueList",
                "responses": {
                    "200": {
                        "description": "Lấy danh sách thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/getMyVenues": {
            "get": {
                "tags": [
                    "Venue"
                ],
                "summary": "Lấy danh sách sân của chủ sân",
                "description": "API lấy danh sách sân badminton của chủ sân",
                "operationId": "getMyVenues",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID của chủ sân",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lấy danh sách thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        },
        "/api/getVenueDetail/{id}": {
            "get": {
                "tags": [
                    "Venue"
                ],
                "summary": "Lấy thông tin chi tiết sân",
                "description": "API lấy thông tin chi tiết sân badminton theo ID",
                "operationId": "getVenueDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID của sân",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lấy thông tin thành công",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Không tìm thấy sân"
                    },
                    "500": {
                        "description": "Lỗi server"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "API xử lý xác thực người dùng"
        },
        {
            "name": "BankAccount",
            "description": "Quản lý thông tin ngân hàng của người dùng"
        },
        {
            "name": "Booking",
            "description": "Quản lý đặt sân badminton"
        },
        {
            "name": "User",
            "description": "Quản lý thông tin người dùng"
        },
        {
            "name": "Venue",
            "description": "Quản lý thông tin sân badminton"
        }
    ]
}